page-reports {
  ion-header{
    ion-list{
      ion-list-header{
        div div ion-label.label{
          margin-top:0px;
          margin-bottom:0px;
        }
      }
    }
  }
  h2{
    font-weight: bold;
  }
  ion-icon.notAdmin{
    color:rgb(255, 146, 5);
  }
  ion-avatar > ion-icon{
    color:royalblue;
  }
}


